{% extends 'base.html' %}

{% block main_content %}

<a href ="{% url 'currency:bank-create' %}">Add another Bank</a>

<p>
  <a href = "{% url 'currency:contact-us' %}">Need our help?</a>
</p>


{% for bank in object_list %}

<p> ID: {{ bank.id }} </p>
<p> Name: {{ bank.name }} </p>
<p> URL: {{ bank.url }} </p>
<p> Support: {{ bank.support }} </p>
<p>
    <a href = "{% url 'currency:bank-update' bank.id %}"> Edit </a>
</p>
<p>
    <a href = "{% url 'currency:banks-details' bank.id %}"> Summary bank details </a>
<p/>

{% endfor %}

{% endblock main_content %}